<header>
    <!-- Fixed navbar -->
    <nav id="mainNav" class="navbar navbar-light navbar-expand-lg bg-white fixed-top">
        <div class="container-lg">
            <a class="navbar-brand" href="/">
                <img src="assets/img/como-logo.png" alt="COMo logo" width="190">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
                aria-controls="navbarOffcanvasLg">
                <img src="assets/img/burger-menu.png" width="40">
            </button>
            <div class="offcanvas offcanvas-end align-items-start justify-content-around" data-bs-scroll="true"
                tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
                <div class="navbar navbar-light bg-white fixed-top d-lg-none">
                    <a class="navbar-brand" href="/">
                        <img src="assets/img/como-logo.png" alt="COMo logo" width="190">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
                        <img src="assets/img/burger-menu-close.png" width="40">
                    </button>
                </div>
                <ul class="navbar-nav ms-5 mx-lg-auto">
                    {% for nav in site.data.nav %}
                    {% if page.name == "index.html" %}
                    {% assign href = nav.href | remove: "index.html" %}
                    {% else %}
                    {% assign href = nav.href %}
                    {% endif %}
                    <li class="nav-item">
                        {% if href == page.name %}
                        <a class="nav-link active" href="{{ href }}">{{ nav.text }}</a>
                        {% else %}
                        <a class="nav-link" href="{{ href }}">{{ nav.text }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>

                <button type="button" class="btn btn-primary">Login</button>
            </div>
        </div>
    </nav>
</header>