<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <div class="container-lg">
            <a class="navbar-brand" href="/">
                <img src="assets/img/como-logo.png" alt="COMo logo" width="190">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/img/burger-menu.png" width="40">
            </button>

            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <ul class="navbar-nav mx-auto">
                    {% for nav in site.data.nav %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ nav.href }}">{{ nav.text }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <button type="button" class="btn btn-primary">Login</button>
            </div>
        </div>
    </nav>
</header>