.container-section.post-overview {
    padding-top: 0;
}

.post-list {
    list-style: none;
    padding: 16px 12px 0;

    .post-meta {
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 9px;
    }

    &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: $text-color;
        margin-bottom: 14px;
    }

    &-excerpt {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .post-link {
        font-weight: 700;
    }

    &-seperator {
        height: 1px;
        width: 100%;
        background: #E3E3E3;
        border-radius: 2px;
        margin: 42px 0 39px;
    }
    
    li:last-of-type {
        .post-list-seperator {
            display: none;
        }
    }
}

.container-section.post-section {
    padding-top: 16px;
}

.post {

    h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 15px;
        
        @include media-breakpoint-up(md) {
            font-size: 48px;
            line-height: 56px;
        }
    }

    &-img {
        width: 100%;
        
        &-center {
            display: block;
            margin: 40px auto;
            width: 100%;
            max-width: 400px;
        }

        &-label {
            font-size: 16px;
            line-height: 32px;
            color: #6F6F6E;
            text-align: right;
        }
    }
    
}