.post {
    h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 15px;
        
        @include media-breakpoint-up(md) {
            font-size: 48px;
            line-height: 56px;
        }
    }

    &-img-center {
        display: block;
        margin: 40px auto;
        width: 100%;
        max-width: 400px;
    }
    
}