@font-face {
	font-family: ClanScWebPro-Bold;
	src: url("../fonts/ClanScWebPro-Bold.eot");
}
@font-face {
	font-family:  ClanScWebPro-Bold;
	src: url("../fonts/ClanScWebPro-Bold.woff") format("woff");
}
@font-face {
	font-family: ClanScWebPro-BoldItalic;
	src: url("../fonts/ClanScWebPro-BoldItalic.eot");
}
@font-face {
	font-family: ClanScWebPro-BoldItalic;
	src: url("../fonts/ClanScWebPro-BoldItalic.woff") format("woff");
}
@font-face {
	font-family: ClanScWebPro-Book;
	src: url("../fonts/ClanScWebPro-Book.eot");
}
@font-face {
	font-family: ClanScWebPro-Book;
	src: url("../fonts/ClanScWebPro-Book.woff") format("woff");
}
@font-face {
	font-family: ClanScWebPro-BookItalic;
	src: url("../fonts/ClanScWebPro-BookItalic.eot");
}
@font-face {
	font-family: ClanScWebPro-BookItalic;
	src: url("../fonts/ClanScWebPro-BookItalic.woff") format("woff");
}
@font-face {
	font-family: ClanScWebPro-Medium;
	src: url("../fonts/ClanScWebPro-Medium.eot");
}
@font-face {
	font-family: ClanScWebPro-Medium;
	src: url("../fonts/ClanScWebPro-Medium.woff") format("woff");
}
@font-face {
	font-family: ClanScWebPro-MediumItalic;
	src: url("../fonts/ClanScWebPro-MediumItalic.eot");
}
@font-face {
	font-family: ClanScWebPro-MediumItalic;
	src: url("../fonts/ClanScWebPro-MediumItalic.woff") format("woff");
}
@font-face {
	font-family: ClanScWebPro-News;
	src: url("../fonts/ClanScWebPro-News.eot");
}
@font-face {
	font-family: ClanScWebPro-News;
	src: url("../fonts/ClanScWebPro-News.woff") format("woff");
}
@font-face {
	font-family: ClanScWebPro-NewsItalic;
	src: url("../fonts/ClanScWebPro-NewsItalic.eot");
}
@font-face {
	font-family: ClanScWebPro-NewsItalic;
	src: url("../fonts/ClanScWebPro-NewsItalic.woff") format("woff");
}
@font-face {
	font-family: ClanWebPro-Bold;
	src: url("../fonts/ClanWebPro-Bold.eot");
}
@font-face {
	font-family: ClanWebPro-Bold;
	src: url("../fonts/ClanWebPro-Bold.woff") format("woff");
}
@font-face {
	font-family: ClanWebPro-BoldItalic;
	src: url("../fonts/ClanWebPro-BoldItalic.eot");
}
@font-face {
	font-family: ClanWebPro-BoldItalic;
	src: url("../fonts/ClanWebPro-BoldItalic.woff") format("woff");
}
@font-face {
	font-family: ClanWebPro-Book;
	src: url("../fonts/ClanWebPro-Book.eot");
}
@font-face {
	font-family: ClanWebPro-Book;
	src: url("../fonts/ClanWebPro-Book.woff") format("woff");
}
@font-face {
	font-family: ClanWebPro-BookItalic;
	src: url("../fonts/ClanWebPro-BookItalic.eot");
}
@font-face {
	font-family: ClanWebPro-BookItalic;
	src: url("../fonts/ClanWebPro-BookItalic.woff") format("woff");
}
@font-face {
	font-family: ClanWebPro-Medium;
	src: url("../fonts/ClanWebPro-Medium.eot");
}
@font-face {
	font-family: ClanWebPro-Medium;
	src: url("../fonts/ClanWebPro-Medium.woff") format("woff");
}
@font-face {
	font-family: ClanWebPro-MediumItalic;
	src: url("../fonts/ClanWebPro-MediumItalic.eot");
}
@font-face {
	font-family: ClanWebPro-MediumItalic;
	src: url("../fonts/ClanWebPro-MediumItalic.woff") format("woff");
}
@font-face {
	font-family: ClanWebPro-News;
	src: url("../fonts/ClanWebPro-News.eot");
}
@font-face {
	font-family: ClanWebPro-News;
	src: url("../fonts/ClanWebPro-News.woff") format("woff");
}
@font-face {
	font-family: ClanWebPro-NewsItalic;
	src: url("../fonts/ClanWebPro-NewsItalic.eot");
}
@font-face {
	font-family: ClanWebPro-NewsItalic;
	src: url("../fonts/ClanWebPro-NewsItalic.woff") format("woff");
}
