@font-face {
	font-display: swap;
	font-family: ClanPro;
	font-style: normal;
	font-weight: 400;
	src: local("ClanPro News"), url(../fonts/ClanWebPro-News.woff) format("woff");
}
@font-face {
	font-display: swap;
	font-family: ClanPro;
	font-style: italic;
	font-weight: 400;
	src: local("ClanPro News Italic"), url(../fonts/ClanWebPro-NewsItalic.woff) format("woff");
}
@font-face {
	font-display: swap;
	font-family: ClanPro;
	font-style: normal;
	font-weight: 600;
	src: local("ClanPro Medium"), url(../fonts/ClanWebPro-Medium.woff) format("woff");
}
@font-face {
	font-display: swap;
	font-family: ClanPro;
	font-style: italic;
	font-weight: 600;
	src: local("ClanPro Medium Italic"), url(../fonts/ClanWebPro-MediumItalic.woff) format("woff");
}
@font-face {
	font-display: swap;
	font-family: ClanPro;
	font-style: normal;
	font-weight: 800;
	src: local("ClanPro Bold"), url(../fonts/ClanWebPro-Bold.woff) format("woff");
}
@font-face {
	font-display: swap;
	font-family: ClanPro;
	font-style: italic;
	font-weight: 800;
	src: local("ClanPro Bold Italic"), url(../fonts/ClanWebPro-BoldItalic.woff) format("woff");
}
