$primary: #1e398f;
$secondary: #121212;

$btn-border-radius: 2px;
$btn-padding-x: 22px;
$btn-padding-y: 8px;

$container-max-widths: (
    sm: 528px,
    md: 720px,
    lg: 840px,
    xl: 1048px,
    xxl: 1128px,
);

$accordion-button-active-bg: #fff;
$accordion-button-active-color: #212529;
$accordion-button-icon: url("../img/plus.svg");
$accordion-button-active-icon: url("../img/minus.svg");

@import "bootstrap/bootstrap";
@import "fonts";

body {
    position: relative; // required by BS scrollspy
}

* {
    font-family: "ClanPro", sans-serif;
    color: #3b3b3a;
    line-height: 32px;
}

[id] {
    @media (min-height: 32em) {
        scroll-margin-top: 96px;
    }
}

.navbar {
    height: 96px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08), 0px 0px 16px rgba(0, 0, 0, 0.07);
}

button.navbar-toggler {
    padding: 0;
    border: 0;
}

.btn-primary {
    color: #eff0f0;
}

.navbar-brand {
    position: relative;
    top: -8px;
}

.nav-link {
    font-size: 14px;
    line-height: 24px;
    color: #3b3b3a;
    margin: 0 24px !important;
    padding: 0 !important;
    display: inline-block;
    height: 24px;
}

.nav-link.active {
    color: #1e398f !important;
    font-weight: 700;
    border-bottom: #1e398f 2px solid;
}

@include media-breakpoint-down(lg) {
    #navbarOffcanvasLg {
        width: 100%;
        margin-top: 96px;
    }
    #navbarOffcanvasLg .navbar {
        padding: 0 12px;
    }
    #navbarOffcanvasLg .nav-item {
        line-height: 40px;
    }
    .btn {
        margin: 0 auto;
    }
}

@include media-breakpoint-up(lg) {
    #navbarOffcanvasLg {
        flex-direction: row;
    }
}

main {
    margin-top: 100px;
}

h2 {
    color: #1e398f;
    font-family: "ClanPro", sans-serif;
    font-weight: 700;
    margin: 0;
}

.footer {
    padding-top: 38px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
}
.header-footer {
    font-family: "ClanPro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3b3b3a;
}

#sponsor-logo {
    margin-top: 13px;
}

.container-footer-bottom {
    margin-top: 52px;
    padding: 14px 0;
    background-color: #1e398f;
}

.container-footer-bottom * {
    font-family: "ClanPro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #f6f6f6;
}

.sitemap-item {
    font-family: "ClanPro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
    color: #f6f6f6;
}

@import "index";
@import "faq";
