$primary: #1e398f;
$secondary: #121212;

$btn-border-radius: 2px;
$btn-padding-x: 22px;
$btn-padding-y: 8px;

$container-max-widths: (
    sm: 528px,
    md: 720px,
    lg: 840px,
    xl: 1048px,
    xxl: 1128px,
);

@import "bootstrap/bootstrap";
@import "fonts";

body {
    position: relative; // required by BS scrollspy
}

* {
    font-family: "ClanPro", sans-serif;
    color: #3b3b3a;
    line-height: 32px;
}

[id] {
    @media (min-height: 32em) {
        scroll-margin-top: 96px;
    }
}

.navbar {
    height: 96px;
}

button.navbar-toggler {
    padding: 0;
    border: 0;
}

.btn-primary {
    color: #eff0f0;
}

.navbar-brand {
    position: relative;
    top: -8px;
}

.nav-link {
    font-size: 14px;
    line-height: 24px;
    color: #3b3b3a;
    margin: 0 24px !important;
    padding: 0 !important;
    display: inline-block;
    height: 24px;
}

.nav-link.active {
    color: #1e398f !important;
    font-weight: 700;
    border-bottom: #1e398f 2px solid;
}

@include media-breakpoint-down(lg) {
    #navbarOffcanvasLg {
        width: 100%;
        margin-top: 96px;
    }
    #navbarOffcanvasLg .navbar {
        padding: 0 12px;
    }
    #navbarOffcanvasLg .nav-item {
        line-height: 40px;
    }
    .btn {
        margin: 0 auto;
    }
}

@include media-breakpoint-up(lg) {
    #navbarOffcanvasLg {
        flex-direction: row;
    }
}

main {
    margin-top: 100px;
}

h2 {
    color: #1e398f;
    font-family: "ClanPro", sans-serif;
    font-weight: 700;
    margin: 0;
}

.h3-faq {
    padding-top: 122px;
    font-family: "ClanPro";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #1e398f;
}

h2.accordion-header {
    font-family: "ClanPro";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #3b3b3a;
}

.subheader {
    color: #1e398f;
    font-weight: 400;
    margin-bottom: 26px;
}

.img-info {
    margin: 70px 0;
}

#hero-background {
    display: block;
    position: absolute;
    z-index: 1;
    top: 60px;
    width: 100%;
    height: 636px;
    margin: 0 auto;
    background: url("../img/bg-img.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right bottom;
}

@include media-breakpoint-only(xl) {
    #hero-background {
        max-width: 1048px;
    }
}

@include media-breakpoint-only(xxl) {
    #hero-background {
        max-width: 1128px;
    }
}

#hero-content {
    background: rgba(230, 230, 230, 0.9);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(80px);
    position: relative;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 410px 24px 0 24px;
    padding: 42px 28px;
}

#hero-content .btn {
    margin-top: 48px;
}

@include media-breakpoint-up(lg) {
    #hero-content {
        top: -20px;
        width: 65%;
        height: 624px;
        margin: 0;
        padding: 127px 76px 0 72px;
    }
}

.container-section {
    padding-top: 55px;
    padding-bottom: 55px;
}

#container-mitmachen {
    // padding: 55px 0;
}

#container-aufbau {
    background-color: #e1f5fe;
    // padding: 55px 0;
}

#schematischer-ablauf-vertikal {
    position: relative;
    left: -18px;
}

#infografik-aufbau-vertikal {
    position: relative;
    left: -28px;
}

#container-ueber {
    // padding: 55px 0;
}

#container-ueber h2 {
    margin-bottom: 23px;
}

.row-member {
    margin-top: 72px;
}

.footer {
    padding-top: 38px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
}
.header-footer {
    font-family: "ClanPro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3b3b3a;
}

#sponsor-logo {
    margin-top: 13px;
}

.container-footer-bottom {
    margin-top: 52px;
    padding: 14px 0;
    background-color: #1e398f;
}

.container-footer-bottom * {
    font-family: "ClanPro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #f6f6f6;
}

.sitemap-item {
    font-family: "ClanPro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
    color: #f6f6f6;
}
