<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="COMo Berlin">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class="d-flex flex-column h-100">

  {% include header.html %}

  <main class="flex-shrink-0">
    {{ content }}
  </main>

  <script src="/assets/js/bootstrap.bundle.min.js"></script>

</body>

</html>
